/***************************************************************************************************************
||||||||||||||||||||||||||||            MASTER STYLESHEET FOR SOLAR      ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
||||||||||||||||||||||||||||              TABLE OF CONTENT                  ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************
* 1. common styles
* 2. header styles
* 3. slider styles
* 4. blog styles
* 5. sidebar styles
* 6. mailchimp styles
* 7. client styles
* 8. service styles
* 9. contact styles
* 10. about styles
* 11. footer styles
* 12. project styles
* 13. team styles
* 14. cta styles
* 15. how-it-works styles
* 16. testimonials styles
* 17. inner-banner styles
* 18. funfact styles
* 19. faq styles
* 20. search-popup styles
****************************************************************************************************************
||||||||||||||||||||||||||||            End TABLE OF CONTENT                ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/
/*
* 1. common styles
*/

a:active,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

p {
    line-height: normal;
}

@font-face {
    font-family: SamsungSharpSans;
    src: url('../fonts/SamsungSharpSans-Bold.ttf');
}

@font-face {
    font-family: SamsungSharpSansRegular;
    src: url('../fonts/SamsungSharpSansRegular-Regular.ttf');
}


body,.ui-widget {
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    max-width: 1740px;
    margin: 0 auto;
}


img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    outline: none !important;
}

section {
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: SamsungSharpSansRegular;
    src: url('../fonts/SamsungSharpSansRegular-Regular.ttf');
}

/* isofont */

@font-face {

    font-family: "IcoFont";
    font-weight: normal;
    font-style: "Regular";
    src: url("../fonts/icofont.woff2") format("woff2"),
        url("../fonts/icofont.woff") format("woff");
}

[class^="icofont-"],
[class*=" icofont-"] {
    font-family: 'IcoFont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}


.icofont-ui-alarm:before {
    content: "\ec3f";
}

.icofont-user-alt-5:before {
    content: "\ecff";
}

.icofont-ui-settings:before {
    content: "\ec83";
}

.icofont-clock-time:before {
    content: "\eedc";
}

.icofont-phone:before {
    content: "\efbb";
}

.icofont-racing-car:before {
    content: "\edbb";
}

.icofont-ui-play:before {
    content: "\ec74";
}

.icofont-man-in-glasses:before {
    content: "\ecf8";
}

.icofont-handshake-deal:before {
    content: "\e96f";
}

.icofont-car-alt-3:before {
    content: "\ee1d";
}

.icofont-location-pin:before {
    content: "\ef79";
}

.icofont-email:before {
    content: "\ef12";
}

.icofont-navigation-menu:before {
    content: "\efa2";
}

/* end isofont */


.scroll-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #f6073d;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    line-height: 47px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 9999;
    transition: linear.4s;
    display: none;
}

.scroll-top:hover {
    background: #000;
    color: #f6073d;
}



.search-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9999;
    display: none;
}

.search-popup form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 30rem;
    height: 55px;
}

.search-popup input {
    background: #fff;
    border: 3px solid #f6073d;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    padding: 10px;
}

.search-popup button {
    position: absolute;
    top: 0;
    right: 0;
    background: #f6073d;
    color: #fff;
    border: none;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
    padding: 0 26px;
    font-size: 16px;
}

.search-popup .cross {
    position: absolute;
    top: -40px;
    right: -40px;
    color: #fff;
    font-size: 16px;
    border: 4px solid #b90808;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    background: #b90808;
    line-height: 22px;
    cursor: pointer;
}


/*preloade*/
.preloader {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #f0184b 10%, #fd1c47 90%) repeat scroll 0 0;
    top: 0;
    left: 0;
    z-index: 9999;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #FFF;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #5CFE6F;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #9BDCFF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



/* header */


.header {
    background-size: contain;
    height: auto;
    background-repeat: no-repeat;
    position: relative;
}
.container-fluid{
    padding: 0 60px;
}
.logo {
    position: relative;
}

.main-menu {
    background: transparent;
    transition: linear .5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 6rem;
    padding: 15px 0px;
    transition: linear .5s;
}

.fixed-top {
    transition: linear .5s;
    position: fixed !important;
    height: 65px;
    background: #094598;
    padding: 5px 0;
}

.navbar {
    padding: 0;
    position: relative;
}
.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 104%;
    height: 100%;
    background: #fff;
    opacity: .4;
    border-radius: 6px;
    box-shadow: 0px 0px 10px black;
}
.fixed-top .navbar::before{
    display: none;
}

.nav-item {
    padding: 15px 0;
    position: relative;
}

.fixed-top .nav-item {
    padding: 8px 0;
}
.fixed-top .navbar-nav {
    margin-top: -2px;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 15px !important;
    color: #fff !important;
    margin-left: 10px;
}

.nav-link span {
    margin-right: 10px;
}

.drpdwn {
    position: absolute;
    top: 60px;
    z-index: 9999;
    background: #fff;
    box-shadow: 0px 0px 5px #afa8a8;
    width: 280px;
    text-align: left;
    left: 0;
    transition: linear .4s;
    transform: scale(0);
    padding-top: 5px;
}

.fixed-top .drpdwn {
    top: 55px;
}

.nav-item:hover .drpdwn {
    transform: scale(1);
}

.drpdwn li {
    position: relative;
    padding-left: 20px;
    padding-bottom: 5px;
    border-bottom: 1px dashed gray;
    transition: .3s;
}

.drpdwn li:hover {
    background: #ee184b;
}

.drpdwn li:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0px;
    height: 1px;
    background: #fff;
    transition: linear .4s;
}

.drpdwn li:hover:before {
    width: 10px;
}

.drpdwn li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    padding: 8px 0;
    padding-top: 10px;
}

.drpdwn li:hover a {
    color: #fff;
}

.drpdwn2 {
    position: absolute;
    top: 0;
    left: 280px;
    background: #fff;
    width: 280px;
    box-shadow: 0px 0px 5px #afa8a8;
    transform: scale(0);
    transition: .3s;
}

.drpdwn li:hover .drpdwn2 {
    transform: scale(1);
}

.drpdwn2 li a {
    color: #000 !important;
}

.drpdwn2 li:hover a {
    color: #fff !important;
}

.nav-link.quote {
    position: relative;
    background: #ee184b;
    color: #fff !important;
    display: block;
    width: 180px;
    text-align: center;
    overflow: hidden;
    z-index: 2;
    transition: ease .4s;
}

.nav-link.quote:hover {
    color: #ee184b !important;
}

.nav-link.quote:before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0;
    height: 100%;
    background: #fff;
    z-index: -2;
    transition: ease .4s;
}

.nav-link.quote:hover:before {
    width: 100%;
}



.header .content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
}
#header-bg{
    width: 100%;
}
.header .text h4 {
    font-size: 43px;
    color: #fff;
    text-shadow: 0px 0px 2px #000;
    margin: 0;
}
.header .text h4 span {
    color: #fc062f;
}
.header .text h1 {
    color: #fc062f;
    text-shadow: 0px 0px 2px #000;
    font-size: 70px;
    margin: 10px 0;
}
.header .text button {
    position: relative;
    background: #fb0530;
    color: #fff;
    display: block;
    width: 145px;
    text-align: center;
    overflow: hidden;
    z-index: 2;
    transition: ease .4s;
    height: 41px;
    border: none;
    text-transform: capitalize;
    z-index: 2;
}
.header .text button:hover{
    color: #fb0530;
}
.header .text button::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0;
    height: 100%;
    background: #fff;
    z-index: -2;
    transition: ease .4s;
}
.header .text button:hover:before{
    width: 100%;
}
.covid19 {
    width: 105px;
    animation: infinite-spinning 8s infinite linear;
    position: absolute;
    top: 20px;
    right: 24rem;
}
.c19 {
    top: -66px;
    width: 81px;
    right: 21rem;
}
@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* end header */




/* about */

.about{
    padding: 120px 0;
}
.about .content {
    position: relative;
    top: 0;
    left: 0;
    transform: inherit;
}
.about .content h2 {
    color: #36abdf;
    font-size: 40px;
}
.about .content h2 span {
    color: #fb052f;
    font-weight: 700;
}
.about .content p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.about .content hr {
    width: 100%;
    height: 3px;
    border: none;
    background: #fc072f;
    max-width: 5rem;
    margin: 11px 0;
}
.about button {
    position: relative;
    background: #fb0530;
    color: #fff ;
    display: block;
    width: 145px;
    text-align: center;
    overflow: hidden;
    z-index: 2;
    transition: ease .4s;
    height: 41px;
    border: none;
    text-transform: capitalize;
    margin-top: 20px;
}
.about button:hover{
    box-shadow: 0px 0px 10px #cfcaca;
    color: #fb0530;
}
.about button::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0;
    height: 100%;
    background: #fff;
    z-index: -2;
    transition: ease .4s;
}
.about button:hover:before{
    width: 100%;
}

/* end about */




/* corona important */

.corona-important{
    background: url('../images/3.jpg');
    background-size: cover;
    padding: 80px 0;
    padding-bottom: 0;
    overflow: visible;
}
.headline{
    margin-bottom: 80px;
}
.headline h2 {
    color: #2ea7de;
    font-size: 40px;
    margin-bottom: 30px;
}
.headline h2 span {
    display: block;
    font-weight: 700;
    color: #fb0130;
    width: auto;
    height: auto;
    background: transparent;
}
.headline p {
    max-width: 34rem;
    margin: 0 auto;
    font-weight: 300;
}
.corona-important .owl-carousel {
    background: #fff;
    padding: 80px 15px;
    padding-bottom: 100px;
    z-index: 9;
}
.corona-important .content{
    text-align: center;
}
.corona-important img {
    width: auto !important;
    margin: 0 auto;
    height: 100px;
}
.corona-important h6 {
    font-size: 22px;
    font-weight: 700;
    margin: 15px 0;
}
.corona-important .count {
    position: relative;
    margin-top: 20px;
    margin-bottom: 25px;
    z-index: 2;
}
.corona-important .count:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 5px;
    background: #d7e2e9;
    z-index: -2;
}
.corona-important span {
    display: block;
    background: #0e86c6;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 auto;
    color: #fff;
    line-height: 30px;
    font-weight: 600;
}
.corona-important .owl-carousel p {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
}
.owl-nav {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}
.owl-nav .owl-prev {
    width: 45px;
    height: 45px;
    font-size: 20px !important;
    color: #fb0130 !important;
    background: #d7e2e9;
    line-height: 40px;
    border-radius: 50% !important;
    text-align: center;
}
.owl-nav .owl-next {
    width: 45px;
    height: 45px;
    font-size: 20px !important;
    color: #fb0130 !important;
    background: #d7e2e9;
    line-height: 40px;
    border-radius: 50% !important;
    text-align: center;
}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled{
    display: block;
}

/* end corona important */




/* counting area */

.counting-area {
    position: relative;
    padding: 55px 0;
    overflow: visible;
    z-index: 2;
}
.counting-area::before {
    content: '';
    position: absolute;
    top: -110px;
    left: 0;
    width: 100%;
    height: 135%;
    background: url('../images/4.jpg');
    z-index: -2;
    background-size: cover;
}
.counting-area .box {
    position: relative;
    margin: 15px 0;
}
.counting-area .box .icon {
    position: absolute;
    top: 0;
    left: 0;
}
.counting-area .box .text{
    padding-left: 85px;
}
.counting-area .box h1 {
    color: #fff;
    font-weight: 600;
    font-size: 50px;
}
.counting-area .box h5 {
    color: #14cffc;
    font-weight: 500;
    font-size: 22px;
}
.counting-area .box p {
    margin: 0;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
}
/* end counting area */




/* basic treatment */

.basic-treatment {
    padding: 80px 0;
}
.basic-treatment .headline {
    margin-bottom: 20px;
}
.basic-treatment .content {
    margin: 15px 0;
    position: relative;
    background: #f8fafb;
    padding: 45px 25px;
    box-shadow: 0px 0px 10px #c7cacc;
    border-radius: 10px;
}

.basic-treatment .content:before{
  content:'';
  position:absolute;
  top:0px;
  left:0px;
  width:0;
  height:0;
  background:transparent;
  border:2px solid transparent;
  border-radius: 10px;
}

.basic-treatment .content:hover:before{
  animation:animate 1s linear forwards;
}

@keyframes animate{
  0%{
    width:0;
    height:0;
    border-top-color:#094598;
    border-right-color:transparent;
    border-left-color:transparent;
    border-bottom-color:transparent;
  }
  
  50%{
    width:100%;
    height:0;
    border-top-color:#094598;
    border-right-color:#094598;
    border-left-color:transparent;
    border-bottom-color:transparent;
  }
  
  100%{
    width:100%;
    height:100%;
    border-top-color:#094598;
    border-right-color:#094598;
    border-left-color:transparent;
    border-bottom-color:transparent;
  }
}

.basic-treatment .content:after{
  content:'';
  position:absolute;
  top:0px;
  left:0px;
  width:0;
  height:0;
  background:transparent;
  border:2px solid transparent;
  border-radius: 10px;
}

.basic-treatment .content:hover:after{
  animation:animate2 1s linear forwards;
  animation-delay: 1s;
}

@keyframes animate2{
  0%{
    width:0;
    height:0;
    border-top-color:transparent;
    border-right-color:transparent;
    border-left-color:transparent;
    border-bottom-color:#262626;
  }
  
  50%{
    width:0;
    height:100%;
    border-top-color:transparent;
    border-right-color:transparent;
    border-left-color:#262626;
    border-bottom-color:#262626;
  }
  
  100%{
    width:100%;
    height:100%;
    border-top-color:transparent;
    border-right-color:transparent;
    border-left-color:#262626;
    border-bottom-color:#262626;
  }
}
.basic-treatment .content img {
    float: left;
    max-width: 95px;
    margin-right: 25px;
}
.basic-treatment .content h5 {
    color: #2ea7de;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 500;
}
.basic-treatment .content p {
    margin: 0;
    font-size: 17px;
    font-weight: 300;
}

/* end basic treatment */






/* spread */

.spread{
    background: url('../images/7.png');
    background-size: cover;
    padding: 80px 0;
}

.spread .headline h2 span {
    display: inline-block;
}

.tab .nav-tabs{
    font-family: 'Poppins', sans-serif;
    margin: 0 0 10px 0;
    border: none;
}
.tab .nav-tabs li a{
    color: #444;
    background: linear-gradient(to top right, #f9f9f9 49%,#f1f1f1 50%);
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 10px -5px rgba(0,0,0,0.5);
    overflow: hidden;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li:last-child a{ margin-right: 0; }
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{
    color: #fff;
    border-color: transparent;
    border: none;
}
.tab .nav-tabs li a:before{
    content: "";
    background: #fb062f;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: 0 50% 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease-out 0s;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before{
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.tab .tab-content{
    color: #444;
    background: linear-gradient(to top right, #f9f9f9 49%,#f1f1f1 50%);
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 30px;
    padding: 25px 20px;
    box-shadow: 0 0 10px -5px rgba(0,0,0,0.5);
    position: relative;
}
.tab .tab-content h3{
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
}
@media only screen and (max-width: 767px){
    .tab .nav-tabs li a{ padding: 10px 20px; }
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }
}



#tabs {
    border: none;
    background: transparent;
}
#tabs ul {
    background: transparent;
    border-bottom: 3px solid #a5def6;
    border-radius: 0;
    padding-bottom: 2px;
}
#tabs ul li {
    background: #25afea;
    border-radius: 0;
}
#tabs ul li.ui-tabs-active {
    border: none !important;
}
#tabs ul li a {
    background: transparent;
    border: none;
    box-shadow: none;
    color: #fff;
    font-weight: 400;
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 15px 26px;
}
#tabs ul li.ui-tabs-active a {
    background: #fb062f;
    border: none;
}
.spread .content h5 {
    font-size: 21px;
    font-weight: 600;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.spread .content p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}
.spread .content button {
    font-family: 'Poppins', sans-serif;
    position: relative;
    background: #fb0530;
    color: #fff;
    display: block;
    width: 145px;
    text-align: center;
    overflow: hidden;
    z-index: 2;
    transition: ease .4s;
    height: 41px;
    border: none;
    text-transform: capitalize;
    margin-top: 20px;
}
.spread .content button:hover{
    box-shadow: 0px 0px 10px #cfcaca;
    color: #fb0530;
}
.spread .content button::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0;
    height: 100%;
    background: #fff;
    z-index: -2;
    transition: ease .4s;
}
.spread .content button:hover:before{
    width: 100%;
}

/* end spread */





/* prevent */

.prevent {
    padding: 100px 0;
}
.prevent .headline{
    margin-bottom: 20px;
}
.prevent .content {
    position: relative;
    text-align: center;
    margin: 15px 0;
    background: #f2f5f6;
    padding: 50px 20px;
    transition: linear .5s;
    overflow: hidden;
    z-index: 2;
}
.prevent .content img {
    box-shadow: 0px 0px 8px #a09696;
    border-radius: 50%;
}
.prevent .content:hover{
    background: transparent;
}
.prevent .content:before{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: linear .5s;
    z-index: -2;
}
.prevent .content:hover:before{
     background: #fe2d29;
    top: 0;
}

.prevent .content h5 {
    margin: 15px 0;
    font-weight: 500;
    transition: .6s;
}
.prevent .content:hover h5{
    color: #fff;
}
.prevent .content p {
    margin: 0;
    font-size: 13px;
    color: gray;
    transition: .6s;
}
.prevent .content:hover p{
color: #fff;
}

/* end prevent */




/* faq */

.faq{
    background: url('../images/12.jpg');
    background-size: cover;
    padding: 80px 0;
    padding-bottom: 0;
}
.faq .content{
    color: #fff;
}
.faq .content h2 {
    font-size: 41px;
}
.faq .content h2 span {
    color: #fb072f;
    font-weight: 700;
    text-shadow: 0px 0px 3px #000;
}
.faq .content hr {
    width: 100%;
    height: 3px;
    border: none;
    background: #fc072f;
    max-width: 5rem;
    margin: 11px 0;
}
.ui-accordion .ui-accordion-header {
    font-size: 14px;
    padding: 20px 12px;
    font-weight: 500;
    position: relative;
    border-radius: 0;
    border: none !important;
}
element {

}
.ui-accordion .ui-accordion-header {
    
    font-size: 14px;
    padding: 20px 12px;
    font-weight: 500;
    position: relative;
    border-radius: 0;
    border: none !important;

}
.ui-accordion .ui-accordion-header {
    background: #fff;
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: 17px 20px;
    font-size: 14px;
    padding-left: 40PX;
    margin-top: 6px;
}
.ui-accordion .ui-accordion-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 100%;
    background: #fb072f;
}
.ui-accordion .ui-accordion-header svg:not(:root).svg-inline--fa {
    overflow: visible;
    position: absolute;
    top: 21px;
    left: 10px;
    background: transparent !important;
    color: #fff;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {

    border-top-right-radius: 4px;

}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: #fb072f !important;
    font-weight: normal;
    color: #fff;
}
#accordion p {
    font-size: 15px;
    margin: 20px 0;
    font-weight: 300;
}
.faq .icon {
    position: relative;
}
.faq .icon img {
    position: absolute;
    top: -20px;
    right: 0;
}

/* end faq */



/* blog */

.blog {
    padding: 80px 0;
}
.blog .headline{
    margin-bottom: 0;
}
.blog h2 {
    margin: 0;
}
.blog hr {
    width: 100%;
    height: 3px;
    border: none;
    background: #fc072f;
    max-width: 5rem;
    margin: 11px 0;
}
.blog .content {
    margin: 15px 0;
}
.blog .image{
    overflow: hidden;
}
.blog .image img{
    transition: .4s;
}
.blog .image:hover img{
    transform: scale(1.1);
}
.blog .content ul {
    overflow: hidden;
    margin: 15px 0;
    margin-bottom: 5px;
}
.blog .content ul li {
    float: left;
    margin-right: 20px;
}
.blog .content ul li a {
    text-decoration: none;
    color: #fb072f;
    font-weight: 500;
}
.blog-link {
    color: #05a4e8 !important;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    display: block;
    line-height: 30px;
    margin-bottom: 30px;
}
.blog .content button {
    font-family: 'Poppins', sans-serif;
    position: relative;
    background: #d4d1d1;
    color: #000 !important;
    display: block;
    width: 145px;
    text-align: center;
    overflow: hidden;
    z-index: 2;
    transition: ease .4s;
    height: 41px;
    border: none;
    z-index: 2;
}
.blog .content button:hover{
    color: #fff !important;
}
.blog .content button:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #e1021e;
    transition: ease .4s;
    z-index: -2;
}
.blog .content button:hover:before{
    width: 100%;
}

/* end blog */





/* footer */

.footer {
    position: relative;
    padding: 80px 0;
    color: #fff;
    padding-bottom: 10px;
    background: #082e61;
    color: #000;
    z-index: 2;
}
.footer:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/16.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -2;
}

.footer .top-area {
    border-bottom: 1px solid gray;
    padding: 40px 0;
}

.footer .top-area .box {
    margin: 20px 0;
}

.footer .top-area h2 {
    font-size: 33px;
    color: #011327;
}

.footer .top-area h2 span {
    font-family: SamsungSharpSans;
}

.footer .top-area form {
    position: relative;
}

.footer .top-area input {
    background: #fff;
    color: #000;
    border: 2px solid #d7d6d6;
    width: 100%;
    height: 60px;
    padding: 15px;
}

.footer .top-area button {
    position: absolute;
    top: 0;
    right: 0;
    background: #f6073d;
    height: 100%;
    width: auto;
    padding: 10px 35px;
    border: 2px solid #d7d6d6;
    color: #fff;
    font-size: 17px;
    border-left: none;
}

.f-content {

    padding: 40px 0;
    border-bottom: 1px solid #05a4e8;

}

.f-content .content {
    margin: 20px 0;
}

.f-content p {
    font-size: 17px;
    margin: 15px 0;
    color: #fff;
    font-weight: 300;
    margin-top: 29px;
    line-height: 28px;
}

.f-content ul {
    overflow: hidden;
}

.f-content ul li {

    float: left;
    margin-right: 21px;

}

.f-content ul li:last-child {
    margin-right: 0;
}

.f-content ul li a {
    display: block;
    background: #fff;
    width: 35px;
    height: 35px;
    font-size: 23px;
    text-align: center;
    color: #181818;
    line-height: 36px;
    border-radius: 6px;
    transition: .4s;
}
.f-content ul li:first-child a {
    font-size: 28px;
    line-height: 45px;
}
.f-content ul li:nth-child(3) a {
    font-size: 30px;
    line-height: 45px;
}

.f-content ul li a:hover {
    background: #f6073d;
    color: #fff;
}

.f-content h6 {
font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;

}

.f-content .utl li {
    float: inherit !important;
    border-bottom: 1px dashed #fff;
    margin-right: 0;
    padding: 10px 0;
}
.f-content .utl li:last-child{
    border-bottom: none;
}

.f-content .utl li a {
    background: transparent !important;
    text-align: left;
    color: #fff;
    font-size: 16px !Important;
    line-height: normal !Important;
    display: inline-block;
    height: auto;
    width: auto;
    transition: .1s;
}

.f-content .utl li a:hover {
    color: #f6073d;
    text-decoration: none;
}

.cont2 ul li {

    float: inherit;
    position: relative;
    margin-right: 0 !important;
    padding-left: 36px;
    color: #fff;
    line-height: 22px;
    margin: 20px 0;

}

.cont2 ul li span {
    font-size: 21px;
    position: absolute;
    top: 0;
    left: 0;

}
.social li {
    float: left !important;
    margin-left: 0 !important;
    padding: 0 !important;
    padding-right: 0px;
    padding-right: 15px !important;
}
.footer hr {
    border-top: 1px solid #05a4e8;
    margin: 5px 0;
}

.copyright {

    text-align: right;
    padding: 30px 0;

}

.copyright h6 {
   padding-right: 80px;
    color: #fff;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.covid-icon {
    position: absolute;
    top: -35px;
    right: 78px;
    width: 120px;
    animation: infinite-spinning2 8s infinite linear;
}
@keyframes infinite-spinning2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background: transparent;
}

/* end footer */

























/* ==================================== responsive css ===========================================*/



@media (max-width: 1199.98px) {

    .nav-link {
        font-size: 13px !important;
    }
    .covid19{
        top: 66px;
    }
    .c19{
        top: -20px;
    }

}

@media (max-width: 991.98px) {
    
    .header .text h4{
        font-size: 26px;
    }
    .header .text h1 {
        font-size: 45px;
        margin: 15px 0;
    }

    .header .content{
        top: 44%;
    }
    .navbar-toggler-icon {
        background: transparent !important;
        color: #f6073d;
        font-size: 35px;
    }

    .navbar-nav {
        background: #011327;
        overflow: auto;
        height: 20rem;
    }

    .nav-item {
        padding: 8px 20px;
        border-bottom: 1px dashed #474646;
        position: relative;
    }
    .navbar-light .navbar-toggler {
    border-color: transparent !important;
}
    .navbar::before{
        display: none;
    }
    .covid19 {
        width: 110px;
        position: absolute;
        top: 0px;
        right: 215px;
    }
    .c19 {
        top: -53px;
        width: 60px;
        right: 12rem;
    }
    .counting-area::before{
        top: 0;
        height: 100%;
    }
    .basic-treatment .content{
        height: 17rem;
    }
    .basic-treatment .content p{
        font-size: 14px;
    }
    .basic-treatment .content img {
        float: inherit;
        max-width: 95px;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .faq{
        padding-bottom: 80px;
    }
    .faq img{
        display: none;
    }
    .counting-area::before{
        background: #094598;
    }
   

}

@media (max-width: 767.98px) {

    .header .text h1 {
        font-size: 30px;
        margin: 5px 0;
    }
    .header .text h4 {
        font-size: 18px;
    }
    .header .text button {
        width: 100px;
        height: 32px;
        font-size: 12px;
    }
    .about{
        padding-top: 20px;
    }
    .about .content h2{
        margin-top: 40px;
    }
    .covid19{
        display: none;
    }
    #tabs ul li{
        margin: 8px;
    }
    
}




@media (max-width: 560px) {
    
    .header {
        background: url('../images/1.png');
        background-size: cover;
        height: 25rem;
        background-position: right top;
    }
    .container-fluid {
        padding: 0 10px;
    }
    .header .content {
        position: relative;
        top: 0;
        left: auto;
        transform: none;
        padding-top: 9rem;
    }
    #header-bg{
        display: none;
    }
    .about .content h2{
        font-size: 30px;
    }
    .headline h2{
        font-size: 20px;
    }
    
}
